/* font */
@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Roboto&display=swap");
* {
  font-family: "Questrial", sans-serif;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper h1 {
  font-weight: 100;
  margin-top: 30px;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}
